 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>درباره ی من</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>زهرا اکبری هستم اهل و ساکن استان اصقهان. متولد شهریور ماه 1373.  جذایی از رشته ی تحصیلی ام علاقه ی خاصی به هنر دارم و در کنار رشته ی کامپیوتر نقاشی هم میکنم. من رشته ی کامپیوتر را برای تنوعی که دارد انتخاب کردم و در حال حاضر هم آن را ادامه خواهم داد.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>